language: node_js
cache:
  directories:
  - node_modules
branches:
  only:
  - master
notifications:
  email: false
node_js:
- '8'
before_script:
- npm prune
script:
- npm run coverage
- npm run check-coverage
after_success:
- npm run report-coverage
- npm run semantic-release
